@charset "utf-8"

$navyblue: #333D51
$hnavyblue: #242b39
$goldyellow: #D3AC2B
$darkgray: #CBD0D8
$lightgray: #F4F3EA

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;900&family=Lobster&display=swap')

// Set your brand colors
$brown: #757763
$beige-light: #D0D1CD

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif
$grey-dark: $brown
$grey-light: $beige-light
$primary: $navyblue
$link: $navyblue
$link-hover: $hnavyblue
$link-hover-border: $hnavyblue
$link-active: $goldyellow
$widescreen-enabled: false
$fullhd-enabled: false
$scheme-main: #fff
$text: $navyblue
$warning: $lightgray


$gap: 20px
$tablet: 576px
$desktop: 768px
$widescreen: 993px
$widescreen-enabled: true
$fullhd: 1200px
$fullhd-enabled: true

$tooltip-arrow-size: 15px
$tooltip-background-color: $navyblue
$tooltip-z-index: 5

$steps-active-color: $navyblue

@import '~bulma/bulma'
// Import Extensions
@import '~bulma-switch'
@import '~bulma-steps'




/* navbar */
.center, .center-column, .top, .right, .bottom, .left
	display: flex
	justify-content: center
	align-items: center

.center-column
  flex-direction: column

.top    
  align-items: flex-start
.right  
  justify-content: flex-end
.bottom 
  align-items: flex-end
.left
  justify-content: flex-start
.vc-btn.left
  justify-content: center

.single-spaced, .single-spaced * 
  line-height: 1

.navbar-dropdown
  &.hide
    display: none

@media screen and ( min-width: 767px )
  .mobile
    display: none
@media screen and ( max-width: 767px )
  .desktop
    display: none


.input
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
    -webkit-appearance: none
.footer
  z-index: 2
.is-fixed-bottom
  position: sticky
  bottom: 0
.has-cus-background-dark
  background-color: $navyblue 
  color: $lightgray
.has-cus-background-light
  background-color: $lightgray
.has-background-transparent
  background-color: transparent

.pagination-link,
.pagination-previous,
.pagination-previous[disabled],
.pagination-next,
.pagination-next[disabled]
  justify-content: center

.image.is-256x256
  width: 256px
  height: 256px

.price
  width: 100%
  text-align: left
  font-weight: 500
  span.strike
    margin-left: 1%
    font-size: 12px
    text-decoration: line-through
    color: #888
  &.in-bottom
    margin-top: auto
.h4t
  border-bottom: 1px solid $navyblue
  margin-bottom: 1%

.mt-auto
  margin-top: auto
.mh-70
  min-height: 70px
